import React from 'react';
import './{{kebabCase name}}.css';

const {{pascalCase name}} = () => {
  return (
    <div className="{{kebabCase name}}">
      <h1>{{pascalCase name}}</h1>
    </div>
  );
};

export default {{pascalCase name}};